#[gcode_macro RESTART]
#description: Restarts Klipper
#rename_existing: RESTART_RO
#gcode:
#  RESTART_KLIPPER_SERVICE

[gcode_macro START_PRINT]
gcode:
    EXCLUDE_OBJECT_DEFINE

    {% set MATERIAL_BED_TEMPERATURE_LAYER_0 = params.MATERIAL_BED_TEMPERATURE_LAYER_0|default(70)|float %}
    {% set MATERIAL_STANDBY_TEMPERATURE = params.MATERIAL_STANDBY_TEMPERATURE|default(150)|float %}
    {% set MATERIAL_INITIAL_PRINT_TEMPERATURE = params.MATERIAL_INITIAL_PRINT_TEMPERATURE|default(180)|float %}
    {% set MATERIAL_PRINT_TEMPERATURE_LAYER_0 = params.MATERIAL_PRINT_TEMPERATURE_LAYER_0|default(190)|float %}

    ;;;; Start of my start g-code ;;;;
    M117 Starting
    G90 ;Absolute positionning
    M107 ; Fan off
    M140 S{MATERIAL_BED_TEMPERATURE_LAYER_0}
    M105 ; report temperature
    M104 S{MATERIAL_STANDBY_TEMPERATURE}
    M105 ; report temperature

    {% if 'x' not in homed or 'y' not in homed or 'z' not in homed %}
      M117 Homing
      G28
    {% endif %}
    M117 Mesh calibration
    BED_MESH_CALIBRATE  ; sem SAVE: mesh só na RAM
    
    M117 Waiting for bed temperature
    {% set target_temp = (MATERIAL_BED_TEMPERATURE_LAYER_0 | float -5) | int %}
    {% if printer.heater_bed.temperature < target_temp %}
      M190 S{target_temp}
    {% endif %}
    M104 S{MATERIAL_PRINT_TEMPERATURE_LAYER_0}
    M190 S{MATERIAL_BED_TEMPERATURE_LAYER_0}
    M105

    M82 ;absolute extrusion mode
    G92 E0 ;Reset Extruder
    M117 Moving close to print area
    #Smart_Park
    M105
    M117 Waiting for hotend temperature
    M109 S{MATERIAL_PRINT_TEMPERATURE_LAYER_0}
    M105
    
    ;Enable relative extrusion
    M83
    M117 Purging
    VORON_PURGE
    M117 Printing

[gcode_macro POWER_OFF_PRINTER]
gcode:
    {action_call_remote_method("set_device_power", device="Ender5Plus", state="off")}

[gcode_macro END_PRINT]
description: Called on print end
gcode:
  M117 Finishing
  MOVE_AWAY
  M117 Completed
  

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_RO
gcode:
  CANCEL_PRINT_RO
  M117 Cancelling
  MOVE_AWAY
  M117 Cancelled

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_RO
gcode:
  PAUSE_RO
  M117 Paused

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_RO
gcode:
  RESUME_RO
  M117 Printing

# Cancel object (aka Marlin/RRF M486 commands) support
#
# Enable object exclusion
[exclude_object]

[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}
